#container:after {
  content: "Sorry, no mobile version yet";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 200px 10px 10px 10px;
  z-index: 1000;
  font-size: 51px;
  text-align: center;
  background: rgba(255, 255, 255, .9);
}